<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheAnonymousWisdomTreehole</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css"> {{!--
    <link rel="shortcut icon" type="image/png" href="favicon.png"> --}}
</head>

<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">智慧之樹 - 全港最大有建設性反饋的集思廣益匿名樹窿</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-item nav-link" href="/posts">主頁</a>
                </li>
                <li>
                    <a class="nav-item nav-link" href="info">關於我們/規矩</a>
                </li>

            </ul>
        </div>
    </nav>




    <div class="container">

        <div class='jumbotron'>
            <h1>關於我們/規矩</h1>
        </div>

        <div id="minheight">
            <div class="row text-center">
                <p style="font-size:30px">你以為你暱嚮度就搵你唔到咩？</p>

                <p style="font-size:20px">無用嫁！好似你啲咁出色嘅用家，無論嚮咩地方，都好似漆黑中嘅螢火蟲一樣，咁鮮明，咁出眾！</p>

                <p style="font-size:20px">你憂鬱嘅眼神，唏噓嘅告解，神乎奇技嘅描繪，同埋嗰d真真正正幫到人（而唔係9野）既建議同真心，都徹底咁嘅將你出賣咗。</p>

                <p style="font-size:30px">雖然你係咁出色，但始終行有行規。無論點，你都要找埋呢條數：</p>

                <p style="font-size:50px">告解/傾訴唔洗遵守規則呀？</p>

                <p style="font-size:60px">拿，以下就係我地既規矩：</p>
                <span style="width:400px"></span>

                <ol style="font-size: 30px">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>...</li>
                </ol>
            </div>
            <p style="font-size: 30px">出得尼行遲早要還，肯守規則先好玩</p>
        </div>
    </div>

    <footer>
        <div class="footer-margin">
            <div class="social-footer">
                <a href="https://www.facebook.com/">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="copyright">© Copyright 2018 Group A. All Rights Reserved.</div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>

</html>