<div class="container">
    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            <h2>404 NOT FOUND</h2>
            <h2>Oppppsss!  No such a page haha</h2>
        </div>

    </div>


    <a class="btn btn-primary btn-large" href="/posts">Go back to homepage</a>
     <div id="minheight"></div>
</div>