<div class="container">

    <div class="jumbotron">
        <h1 style="text-align: center">咦,你做錯左d咩事呀？</h1>
    </div>

    <div style="width:70%; margin:0 auto;">
        

        <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/upload' method='post' encType="multipart/form-data">
            <div class="form-group">
                <input class="form-control" type="text" name="title" placeholder="標題：關於咩事架？">
            </div>
            {{!-- <label> Choose file or image url:</label> --}}
            <h6>有圖有真相喎～不妨upload埋個真「相」上尼？</h6>
            <div class="form-group">
                <input class="form-control" type="file" name="inputFile" />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="9" type="text" name="content" placeholder="內容：話個詳細內容比我地聽下？愈詳細大家愈幫到你喎:O"></textarea>
            </div>
            {{!--
            <div class="form-group">
                <input type="hidden" id="badass" name="badass" value="badass">
            </div> --}}
            <div class="form-group">
                <input class="btn btn-primary btn-block" type='submit' value='確定' />
            </div>
            <input type="hidden" name="victim" value=false />
        </form>
        <a class="btn btn-secondary btn-sm" href="/role">返回上一頁</a>
        <div id="minheightaddposts"></div>
    </div>
</div>
