<div class="jumbotron jumbotron-fluid mainBg">
  <div class="container">
    <h1 class="title-1">Welcome to Moral Judges / the wise treehole!</h1>
    <h1 class="sub-title">道德判官 - 全港最大有建設性反饋的集思廣益匿名樹洞</h1>
    <div class="container" style="text-align: center">
      <a href="/register" class="btn btn-warning" role="button">Register</a>
      <a href="/login" class="btn btn-success" role="button">Login</a>
    </div>

  </div>
</div>