<div class="container">

    <div class='jumbotron'>
        <h1>關於我們/規矩</h1>
    </div>

    <div id="minheight">
        <div class="row text-center">
            <p style="font-size:30px">你以為你暱嚮度就搵你唔到咩？</p>

            <p style="font-size:20px">無用嫁！好似你啲咁出色嘅用家，無論嚮咩地方，都好似漆黑中嘅螢火蟲一樣，咁鮮明，咁出眾！</p>

            <p style="font-size:20px">你憂鬱嘅眼神，唏噓嘅告解，神乎奇技嘅描繪，同埋嗰d真真正正幫到人（而唔係9野）既建議同真心，都徹底咁嘅將你出賣咗。</p>

            <p style="font-size:30px">雖然你係咁出色，但始終行有行規，出得尼行遲早要還。無論點，你都要找埋呢條數：</p>

            <p style="font-size:50px">告解/傾訴唔洗遵守規則呀？</p>

            <p style="font-size:60px">拿，以下就係我地既規矩：</p>
            <span style="width:400px"></span>

            <ol style="font-size: 30px">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li>...</li>
            </ol>
        </div>
    </div>
</div>