

<h2 style="text-align: center">Welcome to Moral Judges / the wise treehole ! </h2>
<h2 style="text-align: center">道德判官 - 全港最大有建設性反饋的集思廣益匿名樹洞</h2>

<div class="container">
    <h1 style="text-align: center">Login</h1>
    <div style="width:30%; margin:0 auto;">
        <form action="/posts" method="GET">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group" ><button class="btn btn-primary btn-block">Login</button></div>
        </form>
        <a href="/register">Register</a>
    </div>


