<div class="container">
    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            <h2>Incorrect User-email or Password!</h2>
        </div>

    </div>

    <a class="btn btn-primary btn-large" href="/login">Go back and try again</a>
     <div id="minheight"></div>
</div>