
    
    <div class="container">

        <div class='jumbotron'>
            <h1>我的留言 (List of advices that i created)</h1>
            <p>See the advice you gave to the others!!</p>
        </div>


        <div class="row text-center">

        </div>
    </div>