<div class="container">
    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            <h2>Register failed!</h2>
        </div>

    </div>

    <a class="btn btn-primary btn-large" href="/register">Go back and try again</a>
     <div id="minheight"></div>
</div>