<div class="container">
    <div class="jumbotron">
        <h2 style="text-align: center">係咪有野想匿名分享比人知呢？</h2>
        <h4 style="text-align: center">話比我地知你響事件中係咩身份先！</h4>
    </div>

    <div id="minheight">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>
                    <a class="btn btn-danger btn-lg btn-block" style="height:200px" href="/badass">犯罪者</a>
                </h2>
            </div>
            <div class="col-4">
                <h2>
                    <a class="btn btn-secondary btn-lg btn-block" href="/victim" style="height:200px">受害者</a>
                </h2>
            </div>

        </div>
        <a class="btn btn-primary btn-large" href="/posts">返回主頁</a>
    </div>

</div>