{{!--
<div class='jumbotron roleBanner overlay' style="border-radius: 0px;height: 100px;display: flex;flex-direction: column;justify-content: center;">
    <h1>匿名分享室</h1>
</div> --}}

<div class="container">
    <div class="jumbotron" style="background-color:transparent;">
        <h2 style="text-align: center; margin: 11px 0 1em;">有野想分享？</h2>
        <h2 style="text-align: center; margin: 11px 0 1em;">話比我地知你係事件中係咩身份先！</h2>
    </div>

    <div id="minheight" class="container">
        <div class="row justify-content-center">

            <div class="col-4">
                <div class="ui link cards">
                    <div class="card" style="width:100%">
                        <a class="image" href="/badass">
                            <img src="/assets/3.png">
                        </a>
                        <div class="content">
                            <a class="header" href="/badass">犯罪者</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="ui link cards">
                    <div class="card" style="width:100%">
                        <a class="image" href="/victim">
                            <img src="/assets/4.png">
                        </a>
                        <div class="content">
                            <a class="header" href="/victim">受害者</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        </br>
        </br>
        <div style="text-align:center">
            <a class="btn btn-secondary btn-sm" href="/posts">返回上一頁</a>
        </div>

    </div>
</div>