
<div class="container">
    
    <h1 class="jumbotron">You are ...?</h1>
    <div class="row justify-content-center">
        <div class="col-4"><h2><a class="btn btn-primary btn-large" href="/badass">Badass</a></h2></div> 
        <div class="col-4"><h2><a class="btn btn-primary btn-large" href="/victim">Victim</a></h2></div> 
    </div>
    <a href="/posts">Go back</a>

</div>



