/* body{background-color: blue} */

.mainBg {
  background: rgb(255, 255, 255);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

body {
  background-color: #f1f2f2;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#minheight {
  min-height: 525px;
}

#minheightaddposts {
  min-height: 250px;
}

.minheightlogin {
  /* min-height: 295px; */
  min-height: 430px;
}

.minheightregister {
  /* min-height: 230px; */
  min-height: 350px;
}

#content {
  font-size: 28px;
}

.textcenter {
  text-align: center;
}

.jumbotron {
  /* margin-top:5px; */
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-body {
  padding-top: 4px;
  padding-bottom: 1px;
}

.img-thumbnail {
  margin-bottom: 8px;
}

.bgpic {
  background: url("assets/O7GZLG0.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  height: 600px;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  background: #212122;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.footer-margin {
  width: 1140px;
  margin: 3px auto;
  line-height: 70px;
}

#footer-left {
  text-align: left;
}

.footer-margin .copyright {
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.footer-margin .social-footer {
  color: #8d69f9;
  letter-spacing: 1px;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.footer-margin .social-footer a {
  font-size: 15px;
  color: white;
  padding: 20px;
}

.footer-margin .social-footer a:hover {
  color: #d2c4fc;
}
